<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johannlondonob.momentoii">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContactoDetalleActivity"></activity>
        <activity android:name=".RegistroContactoActivity" />
        <activity android:name=".RegistroCopiaSeguridadActivity" />
        <activity android:name=".ContactoActivity" />
        <activity android:name=".CopiaSeguridadActivity" />
        <activity android:name=".AccesoRemotoDetalleActivity" />
        <activity android:name=".RegistroUsuarioAccesoRemotoActivity" />
        <activity android:name=".RegistroAccesoRemotoActivity" />
        <activity android:name=".AccesoRemotoActivity" />
        <activity android:name=".RegistroEntidadActivity" />
        <activity android:name=".EntidadDetalleActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>